<a href="https://colab.research.google.com/github/angelaaaateng/ftw_python/blob/main/Appendix_Sets_Math_Date.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here, we'll briefly talk about some modules that are not normally used but would be very useful on some unique situations

# Set

A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [4]:
# Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

# Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [5]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [6]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Change Items

Once a set is created, you cannot change its items, but you can add new items. Think of accessing the item/data via its index

# Add Items
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [7]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [8]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'mango', 'banana', 'cherry', 'grapes', 'apple'}

# Get the Length of a Set
To determine how many items a set has, use the len() method.

In [9]:
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [10]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [11]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

* If the item to remove does not exist, remove() will raise an error.
* If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop(), method to remove an item, but this method will remove the last item. **Remember that sets are unordered, so you will not know what item that gets removed.**

The return value of the pop() method is the removed item.

In [12]:
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [13]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# Note: Both union() and update() will exclude any duplicate items.

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

### What are other Set operations out there? ie. If you have union, you also have...

# The Math Module
Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module.

When you have imported the math module, you can start using methods and constants of the module.

The math.sqrt() method for example, returns the square root of a number:

In [ ]:
import math

x = math.sqrt(64)

print(x)

The math.ceil() method rounds a number upwards to its nearest integer, and the math.floor() method rounds a number downwards to its nearest integer, and returns the result:

In [ ]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

The math.pi constant, returns the value of PI (3.14...):

In [ ]:
import math

x = math.pi

print(x)

### What are other Math operations available in the Math module? who knows... 
CLUE: GOOGLE PYTHON MATH MODULE

# Dates
A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [ ]:
#Import the datetime module and display the current date:

import datetime

x = datetime.datetime.now()
print(x)

In [ ]:
x.year

In [ ]:
x.month

In [ ]:
x.day

In [ ]:
x.hour

In [ ]:
x.minute

In [ ]:
x.second

# Date Output
When we execute the code from the example above the result will be:

2020-09-19 20:24:29.012087
The date contains year, month, day, hour, minute, second, and microsecond.

The datetime module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

In [ ]:
# Return the year and name of weekday:

import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

# Creating Date Objects
To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [ ]:
#Create a date object:

import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

# The strftime() Method
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [ ]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

You can find out more formats you can try to generate for datetime in https://strftime.org/

# What if we want to extract date information from a string?

In [ ]:
# Using the same format syntax, you can setup a template to 'parse' the string to date object

import datetime

date_time_str = '2018-06-29 08:15:27.243860'
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

# Lambda Functions

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

## Syntax
    lambda arguments : expression

In [1]:
# Example
# A lambda function that adds 10 to the number passed in as an argument, and print the result:

x = lambda a : a + 10

print(x(5))

15

In [2]:
# A lambda function that multiplies argument a with argument b and print the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
# A lambda function that sums argument a, b, and c and print the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

## Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [14]:
def myfunc(n):
  return lambda a : a * n

In [15]:
# Use that function definition to make a function that always doubles the number you send in:
    
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [16]:
# Or, use the same function definition to make a function that always triples the number you send in:

def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [17]:
# Or, use the same function definition to make both functions, in the same program:
    
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## What are other special applications of lambda functions?
* Distributed Computing - no need to worry about algorithm changes being read from a single storage as all servers have their own copies of it and can adjust accordingly
* Privacy and security - anonymously send algorithms in any machine, run it, not worry about the need to store a copy locally

All in all don't stress over lambda functions as they are an advanced topic but it is good to have a good understanding in case you encounter them in the wild